.noti {
  background-color: black;
  color: white;
  width: 100%; 
  min-height: 60px; /* asegura que no sea demasiado pequeño */
  padding: 5px 20px; /* controla el espacio alrededor del contenido */
  position: fixed; 
  bottom: 0; 
  left: 0; 
  display: flex;
  justify-content: center;
  align-items: center; /* mantiene el número centrado verticalmente */
  font-size: 26px; 
  font-family: 'Baloo 2', sans-serif; 
  z-index: 1000; 
  /* border: 3px solid #FF00FF; */
}

.noti p {
  color: #FF6347; 
  margin: 0 6px; 
  font-size: 60px; 
  font-weight: bold; 
}

.noti span {
  color: white; 
  font-size: 20px; 
  font-weight: normal; 
  margin-left: 8px; 
}

@media (max-width: 600px) {
  .noti {
    min-height: 40px; /* altura mínima para móviles */
    padding: 5px 10px; 
    font-size: 18px; 
  }

  .noti p {
    font-size: 36px; 
    margin: 0 5px; 
  }

  .noti span {
    font-size: 16px; 
  }
  
}
